---
layout: base
---

<header class="section spot-color-primary">
  <div class="section__inner">
    <div class="wrapper flow region">
      <h1 class="text-center">{{ title }}</h1>
    </div>
  </div>
  {% include 'svg/divider-waves.svg' %}
</header>

<article class="region">
  <div class="wrapper flow prose">

<div class="center">Hey, we're Archives of Tomorrow, and we help you better understand technology.</div>

<div class="home">
  <nav>
    <div>
    <img src="/assets/images/blob-1.svg"/>
    <a href="/about">Learn more about us?</a>
    </div><div>
      <img src="/assets/images/blob-2.svg"/>
      <a href="/services">Get support or services?</a>
    </div><div>
      <img src="/assets/images/blob-3.svg"/>
      <a href="/books">Read our books?</a>
    </div><div>
      <img src="/assets/images/blob-4.svg"/>
      <a href="/contact">Get in touch with us?</a>
  </nav>
</div>

    {{ content | safe }}
  </div>
</article>


